.container {width:80% ; margin:auto} 

a {text-decoration: none; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: #fff ;font-size:12px}
a:hover {color:#000}

.button {background-color: #4CAF50;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;}
.button:hover {color:rgb(62, 87, 231)}

/*  Mobile CSS */
body {background-color:#a8a57c ;}
header {background-color: #659DBD; border: 2px #8D8741 solid;}
header h1 {background-color:#659DBD; text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
header nav ul {list-style-type: none;  margin-left:10px;}
header ul li {display: inline-block; word-spacing:0.1em;margin:10px}

.main {background-color: #BC986A;margin:40px;border: 5px #8D8741 dotted;padding-top: 40px; padding-right: 50px; padding-bottom: 20px;padding-left: 80px;}
.article_1 h1 {border: 2px #8D8741 solid;display:inline;text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:14px;color: #264353;}
.article_1 p {font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 10px;}
.article_1 figure {float:left;}
.article_1 figure img {border: 4px #68a7da solid;max-width:34%;padding:20px;background-color: #8D8741;display: inline;}
.article_1 h2 {border: 2px #8D8741 solid;display:inline;text-align: left;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 12px;}
.article_1 ol {list-style: square;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';font-size: 10px}

.article_2{margin-top:20px}
.article_2 h1 {border: 2px #8D8741 solid;display:inline;text-align:center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:12px}
.article_2 p {font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 10px;}
.article_2 ol {list-style: upper-latin;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 10px;}

footer {background-color:#659DBD;border: 10px #BC986A dotted;padding:40px 80px}

.column img{max-width: 50%;padding:25px;}
.column h1 {margin-top:25px;margin-left: 40px;text-decoration:underline;padding:5px;font-size:12px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.column ul {margin-top:5px;margin-left: 50px;padding:5px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 10px;list-style: circle;word-spacing:1px;}
.column p {margin:20px;border-radius: 20px;border:#8D8741 solid 2px;padding:8px;background-color: #fff;font-size: 5px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: 300;font-style: italic;display:inline;}
.threerows:after {content: "";display: table;clear: both;}

.contact {border: 2px #000 solid; padding: 30px}
.contact h1 {margin-top:25px;margin-left: 40px;padding:5px;font-size:16px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.contact p {font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;color: rgb(43, 67, 134);}
.contact label {font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;color: rgb(43, 67, 134);}
.contact input {font-family: Verdana, Geneva, Tahoma, sans-serif;}

/*  Form */
.inline-radio {display:flex;font-style: bold;}
.vrouw {margin-left: 15px}
.anders {margin-left: 15px}
.inline-checkbox {display:flex;font-style: bold}
.spaans {margin-left: 15px}
.arabisch {margin-left: 15px}
.inline-sendbutton {display:flex;}

/*  Blogpost */
.blogpost { width: 300px; border: 1px solid black ; }

.flexbox {display: flex;flex-flow: row wrap;justify-content:space-between;}
div:nth-child(3) {align-self: flex-end; background: pink;}
div:nth-child(4) {align-self: center; background: pink;}



/*  Desktop CSS */
@media screen and (min-width:1024px) { body {background-color:#FBEEC1;} .main {color: rgb(36, 36, 119);line-height: 20px;} .column {float: left;width: 33.33%;} .threerows:after {content: "";display: table;clear: both;} .article_1 h1 {font-size: 25px;} .article_1 p {font-size: 12px} .article_1 h2 {font-size: 16px} .article_2 h1 {font-size: 16px}.article_2 p {font-size: 12px;}.contact h1 {font-size: 20px;} }

